<template>
  <div id="app" class="hidden-scroll-x">

    <div class="pure-g">
      <div class="pure-u-1-24"></div>
      <div class="pure-u-22-24 old-style-1">
        <h1> Ted Pascua </h1>
        <h2> Frontend Developer</h2>
        <p> ted.pascua.11@gmail.com </p> <p>661-229-8576</p>
      </div>
      <div class="pure-u-1-24"></div>
    </div>
    <hr>
    <section v-for="project in projectList" :key="project.id">
      <div class="pure-g list-row row-hr">
        <div class="pure-u-1-24"></div>
        <div class="pure-u-5-24 style-1">
          <section class="right">
            <a v-bind:href="project.link">
              <img class="image-fix" v-if="project.image" :src="getImgUrl(project.image)">
            </a>
          </section>
        </div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-14-24">
          <a v-if="!project.NDA" v-bind:href="project.link" class="link-color">
            <h2> {{project.title}} </h2>
          </a>
          <a v-if="project.NDA" class="no-link-color">
            <h2> {{project.title}}</h2>
          </a>
          <p class="red"> {{project.resources}} </p>
          <p> {{project.description}} </p>
          <a v-if="project.demoLink" v-bind:href="project.demoLink"
            class="link-color-2"> <h3> Demo </h3> </a>
          <h2 v-if="project.NDA" class="no-link-text"> NDA </h2>
        </div>
      </div>
    </section>

  </div>

</template>

<script>

export default {
  name: 'Portfolio_Example',
  data: function(){
    return {
      test: true,
      summary: "5 year Full Stack Developer For the Central Valley Auto Transport",
      /*
      projectList: [
        ,{title: 'Simple Todo List (Mobile)',}
        ,{title: 'Text Adventure Game',}
        ,{title: 'The Wilds',}
      ],
       */
      imageTest: "./assets/boat.png",
      projectList: [
        {
          title: 'Vehicles Freight Transporation Website/Mobile App',
          image: 'c-va-t.png',
          NDA: true,
          resources: 'AWS, Clojure, AngularJS, PostgreSQL',
          description: 'A Website and Mobile App that allows Dispatchers and Truck Drivers to manage and track vehicle transportation across the country',
        },
        {
          title: 'Text Adventure Maker',
          image: 'text-adventure-maker.png',
          link: 'https://bitbucket.org/tpascua/drago-book-maker/src/development/',
          resources: 'VueJS',
          description: "A website creates A Text Adventures into a specific JSON format for other text adventures to use"
        },
        {
          title: 'Sandwich Scheule App',
          image: 'schedule.png',
          link: 'https://github.com/bethgrace5/sequoia-grove',
          resources: 'AngularJS, Java, Postgres',
          description: 'A senior group project, its an app that manages schedules	for workers and managers. I help built out the frontend and design the backend.',
        },
        {
          title: 'Boat Project',
          image: 'boat.gif',
          resources: 'C++, OpenGL',
          link: 'https://github.com/tpascua11/Boats',
          description: ' A Computer Graphics Final Project From using C++ and OpenGL'
        },
        {
          title: 'The Wizard',
          image: 'wizard.gif',
          resources: 'Phaser 2, Phaser 3',
          link: 'https://github.com/tpascua11/Evermore_Wizard1',
          demoLink: 'https://bahamutech.com/Evermore_Wizard1/game/access/',
          description: ' A personal project using phaser 2 framework to build a platformer game about a wizard dino',
        },
      ]
    }
  },
  components: {
  },
  computed: {
    pathToImage (name){
      return require('./assets/' + name);
    },
    listResource (list){
      console.log('test', list);
      let str = "";
      list.forEach(function(row){
        str += row;
      });
      return str;
    }

  },
  methods:{
    getImgUrl(path) {
      var images = require.context('./assets/');
      console.log(images);
      return images('./' + path)
    },
  }
}
</script>

<style>
#app {
  background-color: #FCF6EB;
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*text-align: center;*/
  font-family: "Lucida Console", "Courier New", monospace;
}
h1, h2, h3, h4{
  font-family: "Lucida Console", "Courier New", monospace;
}
p{
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 600;
}
td{
  font-family: "Lucida Console", "Courier New", monospace;
}
hr{
  width:96%;
}
.right {
  float: right;
}
.underline {
  text-decoration: underline ;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}
.left-corner-fix {
  text-align: center;
}
.old-style-1 {
  text-align: center;
}
#layout {
  padding: 0;
}
.image-fix {
}
img {
  width: 300px;;
  height: 200px;
  border-style: solid;
  border-radius: 25px;
  overflow: hidden;
  outline-style: solid;
  outline: 2px solid;
  outline-width:2px;
  outline-color: black;
  position: relative;
  bottom: 10px;
}
.style-1 {
  position: relative;
  top:33px;
}
.list-row {
  height: 250px;
}
.link-color {
  color : #c00;
  text-decoration : none;
  text-decoration-skip-ink: none;
}
.link-color-2 {
  color : CornflowerBlue;
  text-decoration : none;
  text-decoration-skip-ink: none;
}
.no-link-color {
  color: #ff007f;
  text-decoration : none;
  text-decoration-skip-ink: none;
  cursor: not-allowed;
}
.no-link-text {
  color: grey;
  cursor: not-allowed;
}
.row-hr {
  border-bottom: 1px dashed black;
}
.hidden-scroll-x {
  overflow-x: hidden;
}
.left {
  text-align:"left";
}
.right {
  text-align:"right";
}
.center {
  text-align:"center";
}
.red {
  color: red;
}

@media screen and (max-width: 600px) { 

  img { display: none; }

}


</style>
